<!-- <div>
    <img src="https://png.pngtree.com/thumb_back/fw800/background/20231001/pngtree-premium-isometric-3d-rendering-of-a-purple-website-interface-on-computer-image_13572251.png" style="display: flex; align-content: center; justify-content: center; height: 90vh; width: 100%;">
</div> -->

<div
    style="width: 100%; height: 90vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 80px;">
        ¡Bienvenido(a) a mi paginita!</h1>
    <h5 style="margin-top: 50px; font-size: 20px;">Pongáme 10 prof :)</h5>
</div>